@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    padding: 30px 0 85px 0;
}

button{
    background: #143DFF;
    border: none;
    border-radius: 42px;
    color: #fff;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

input{
    border: none;
    outline: none;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
}


.burger-cross{
    background: #fff;
    border-radius: 5px;
}


.burger-menu,
.burger-menu-content{
    display: none;
}

.burger-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.burger-menu-content{
    position: absolute;
    display: flex;
    background: #1D1D1D;
    border-radius: 16px;
    right: 0;
    top: 0;
    padding: 15px;
    display: none;
}

.burger-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.burger-line{
    height: 4px;
    width: 35px;
    background: #fff;
}

/* Header */

.header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-wrapper{
    background: #1D1D1D;
    padding: 8px 16px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.global-title{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.navigation-content{
    display: flex;
    gap: 40px;
}

.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
  
.custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio>input:checked+span::before {
    border-color:#1751D0;
    background-color: #1751D0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio>input:disabled+span::before {
    background-color: inherit;
}

.custom-radio>span{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* Main */

.title{
    font-size: 48px;
    font-weight: 500;
    color: #1D1D1D;
}

.subtitle-text{
    font-weight: 500;
    color: #7F8A95;
}

/* info-block */

.info-block{
    padding-top: 115px;
}

.info-content-wrapper{
    display: flex;
    justify-content: space-between;
}

.info-content-block{
    max-width: 547px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    gap: 0;
    justify-content: space-between;
}

.info-title{
    font-weight: 300;
    text-transform: uppercase;
    color: #00000099;
}

.info-text{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1D1D1D;
}

.info-content-text{
    font-weight: 300;
    color: #1D1D1D;
    max-width: 430px;
}

.info-btn{
    padding: 9px 120px;
}

.info-image-wrapper{
    margin-top: 100px;
}

.info-img{
    width: 100%;
}

/* about-us */

.about-us{
    padding-top: 120px;
}

.about-content-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 36px;
}

.about-subtitle-text{
    max-width: 583px;
}

.title-content-block{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-content-block{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.about-btn{
    padding: 9px 70px;
}

.about-items-wrapper{
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #7F8A95;
}

.about-item-text-block{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.about-item-title{
    font-size: 18px;
    font-weight: 500;
    color: #1D1D1D;
}

.about-item-text{
    font-weight: 400;
    color: #7F8A95;
}

.about-item{
    display: flex;
    gap: 12px;
}

/* choose */

.choose{
    padding-top: 120px;
}

.choose-subtitle-text{
    max-width: 700px;
}

.choose-item{
    padding: 36px;
    border-radius: 16px;
}

.choose-item-box{
    width: 355px;
    height: 332px;
}

.choose-item-box-first{
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose-item-title{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.choose-item-custom-title{
    color: #fff;
}

.choose-items-wrapper{
    margin-top: 45px;
    display: flex;
    gap: 20px;
}

.choose-item-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chose-item-text{
    font-size: 64px;
    font-weight: 500;
    line-height: 60px;
    color: rgba(10, 224, 173, 1);
}

.iteration{
    width: 610px;
    height: 219px;
    background: rgba(196, 220, 234, 1);
    display: flex;
    justify-content: space-between;
    grid-column: 2; 
    grid-row: 1;
}

.aim-content{
    border: 1px solid rgba(149, 168, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aim{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.aim-img{
    width: 194px;
    height: 197px;
}

.small-choose-item{
    width: 355px;
    height: 187px;
    background: rgba(224, 233, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose-btn{
    padding: 9px 50px;
}

.small-choose-custom-item{
    background: rgba(243, 243, 251, 1);
}

.choose-item-text{
    font-weight: 400;
    color: rgba(127, 138, 149, 1);
}

.choose-custom-item{
    background: rgba(32, 31, 41, 1);
    height: 297px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose-item-inner-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.stage{
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
}

.stage-text{
    font-weight: 500;
    color: #fff;
    line-height: 19px;
}

.stage-arrow{
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 35px;
    height: 34px;
    background: url(./images/icons/arrow.svg) center no-repeat;
}

.second-stage{
    padding: 8px 70px;
}

.third-stage{
    padding: 8px 45px;
}

.four-stage{
    padding: 8px 35px;
}

.five-stage{
    padding: 8px 50px;
}

.six-stage{
    padding: 8px 22px;
}

/* solution */

.solution{
    margin-top: 110px;
    background: rgba(0, 0, 0, 1);
    padding: 65px 0 55px 0;
    border-radius: 16px;
}

.solution-block-wrapper{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.solution-title{
    color: rgba(234, 231, 231, 1);
}

.solution-btn-wrapper{
    display: flex;
    gap: 5px;
}

.solution-btn{
    border: 0.45px solid rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    background: inherit;
    padding: 3px 18px;
}

.active{
    color: #000;
    background: rgba(255, 255, 255, 1);
}

.solution-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    padding-left: 12px;
    position: relative;
}

.solution-subtitle::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 27px;
    background: rgba(17, 59, 152, 1);
    left: 0;
}

.solution-text{
    color: rgba(255, 255, 255, 1);
}

.show-content{
    display: flex !important;
}

.solution-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 64px;
    display: none;
}

/* advantages */

.advantages{
    padding: 120px 0 120px 0;
}

.advantage-subtitle-text{
    max-width: 777px;
}

.advantages-content-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 36px;
    margin-top: 36px;
    border-top: 0.45px solid rgba(0, 0, 0, 0.7);   
}

.advantages-content-item{
    width: 322px;
    height: 68px;
    padding: 12px 17px;
    background: rgba(247, 247, 247, 1);
    border-radius: 16px;
    display: flex;
}

.advantages-content-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: rgba(29, 29, 29, 1);
    padding-left: 17px;
    position: relative;
    display: flex;
    align-items: center;
}

.advantages-content-text::before{
    content: '';
    width: 6px;
    height: 44px;
    position: absolute;
    background: rgba(171, 2, 140, 1);
    border-radius: 16px;
    left: 0;
}

.advantages-content-text-second::before{
    background: rgba(190, 201, 67, 1);
}

.advantages-content-text-third::before{
    background: rgba(135, 114, 170, 1);
}

.advantages-content-text-four::before{
    background: rgba(83, 45, 151, 1);
}

.advantages-content-text-five::before{
    background: rgba(20, 61, 255, 1);
}

.advantages-content-text-six::before{
    background: rgba(254, 158, 98, 1);
}

.advantages-content-text-seven::before{
    background: rgba(95, 237, 67, 1);
}

.advantages-content-text-eight::before{
    background: rgba(206, 84, 9, 1);
}

.advantages-card-wrapper{
    padding-top: 120px;
    display: flex;
    gap: 32px;
}

.advantages-main-card-wrapper{
    width: 663px;
    height: 631px;
    background: url(./images/background2.png) center no-repeat;
    padding: 20px;
    display: flex;
    align-items: end;
    border-radius: 16px;
}

.advantages-main-card-text{
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
    color: rgba(255, 255, 255, 1);
}

.advantages-card-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.advantages-card{
    width: 665px;
    height: 300px;
}

.advantages-card{
    background: rgba(22, 22, 22, 1);
    padding: 41px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
}

.advantages-card-img{
    width: 66px;
    height: 61px;
}

.advantages-card-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    color: rgba(255, 255, 255, 1);
}

.advantages-custom-card{
    background: rgba(245, 245, 245, 1);
}

.advantages-custom-card>p{
    color: rgba(23, 23, 23, 1);
}

.advantages-btn{
    font-size: 14px;
    padding: 11px 40px;
}

/* footer */

.footer-content{
    background: rgba(29, 29, 29, 1);
    padding: 32px;
    border-radius: 16px;
}

.footer-top-content{
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: rgba(255, 255, 255, 1);
}

.footer-navigation,
.footer-nav-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-navigation-wrapper{
    display: flex;
    gap: 120px;
}

.footer-navigation-title{
    font-weight: 600;
    line-height: 21.82px;
    color: rgba(127, 138, 149, 1);
}

.footer-bottom-content{
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy-name{
    font-weight: 600;
    line-height: 21.82px;
    color: rgba(255, 255, 255, 1);
}

.privacy-value{
    font-weight: 700;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.55);
}

/* popup */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.popup-test{
    background-color: #fff;
    padding: 25px;
    width: 500px;
    position: fixed;
    border-radius: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .4s ease-in-out;
    opacity: 0;
    z-index: -1;
}

.show-popup{
    opacity: 1;
    z-index: 1;
}

.popup-test-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.popup-test-input{
    background: rgba(245, 245, 245, 1);
    padding: 10px 15px;
    font-size: 18px;
    width: 100%;
}

.popup-test-btn{
    background: #143DFF;
    border: none;
    border-radius: 42px;
    color: #fff;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 9px 70px;
}

.cross{
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
}

::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 1400px){
    .container{
        padding: 0 20px 0 20px;
    }

    .choose-item-box{
        width: 320px;
        height: 300px;
    }

    .aim-img{
        width: 150px;
        height: 150px;
    }

    .small-choose-item{
        width: 320px;
    }

    .iteration,
    .choose-custom-item{
        width: 550px;
    }

    .choose-custom-item{
        height: 267px;
    }
    
    .choose-items-wrapper{
        gap: 0;
        justify-content: space-between;
    }
}

@media (max-width: 1250px){
    .choose-item-box{
        width: 290px;
        height: 270px;
    }

    .small-choose-item{
        width: 290px;
    }   
}

@media (max-width: 1250px){
    .choose-item-box{
        width: 290px;
        height: 270px;
    }

    .small-choose-item{
        width: 290px;
    }

    body{
        font-size: 13px;
    }

    .choose-btn{
        font-size: 13px;
    }

    .chose-item-text{
        font-size: 52px;
    }

    .aim-img{
        width: 100px;
        height: 100px;
    }

    .choose-item{
        padding: 30px;
    }

    .choose-item-title{
        font-size: 18px;
    }

    .choose-item-box{
        width: 270px;
        height: 250px;
    }

    .small-choose-item{
        width: 270px;
    }

    .iteration-img{
        width: 240px;
        height: 139px;
    }

    .iteration{
        height: 200px;
    }

    .choose-custom-item{
        height: 240px;
    }
}

@media (max-width: 1150px){
    .advantages-card-text{
        font-size: 14px;
    }

    .advantages-card-wrapper{
        gap: 0;
        justify-content: space-between;
    }

    .advantages-main-card-wrapper{
        width: 450px;
    }

    .advantages-card{
        width: 550px;
    }

    .choose-custom-item,
    .iteration{
        width: 500px;
    }

    .small-choose-item,
    .choose-item-box{
        width: 240px;
    }

    .advantages-content-wrapper{
        justify-content: center;
    }
}

@media (max-width: 1050px){
    .choose-items-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .choose-item-column{
        flex-direction: row;
        justify-content: center;
    }

    .iteration{
        height: 240px;
    }

    .iteration-img-wrapper{
        display: flex;
        align-items: end;
    }

    .small-choose-item,
    .choose-item-box{
        height: 250px;
        width: 481.5px;
    }

    .choose-item-title{
        font-size: 22px;
    }

    .advantages-card{
        width: 450px;
    }
}

@media (max-width: 1000px){
    .info-text{
        font-size: 20px;
    }

    .info-btn{
        padding: 9px 60px;
    }

    button,
    .popup-test-btn{
        font-size: 13px;
    }

    .popup-test-input{
        font-size: 14px;
    }

    .about-item-title{
        font-size: 16px;
    }

    .advantages-card-wrapper{
        flex-direction: column;
    }

    .advantages-card-content-wrapper{
        flex-direction: row;
    }

    .advantages-main-card-wrapper{
        display: none;
    }
}

@media (max-width: 900px){
    .iteration-img{
        width: 200px;
        height: 110px;
    }

    .stage{
        font-size: 12px;
        padding: 5px 10px;
    }

    .stage-arrow{
        width: 30px;
        height: 29px;
    }

    .second-stage{
        padding: 5px 40px;
    }

    .five-stage{
        padding: 5px 20px;
    }

    .custom-radio>span{
        font-size: 16px;
    }

    .info-btn{
        padding: 9px 25px;
    }

    .about-btn{
        padding: 9px 30px;
    }

    .about-items-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .about-item{
        width: 320px;
    }
}

@media (max-width: 800px){
    .iteration{
        flex-direction: column;
    }

    .about-content-wrapper{
        flex-direction: column;
        gap: 20px;
    }

    .about-content-block{
        width: 250px;
    }

    .footer-top-content{
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 650px){
    .info-content-wrapper{
        flex-direction: column;
        gap: 20px;
    }

    .info-btn{
        width: 200px;
        padding: 9px;
    }

    .info-content-block{
        display: flex;
        gap: 20px;
    }

    .choose-item-title{
        font-size: 16px;
    }

    .stage{
        padding: 5px 10px;
    }

    .advantages-card{
        height: 500px;
        gap: 15px;
    }

    .custom-radio>span{
        font-size: 12px;
        margin-top: 5px;
    }

    .choose-item-inner-content{
        gap: 10px;
    }

    .navigation-content{
        gap: 20px;
    }

    .navigation{
        display: none;
    }

    .burger-menu{
        display: block;
    }

    .choose-item{
        padding: 10px;
    }

    .popup-test{
        width: 300px;
    }

    .footer-navigation-wrapper{
        gap: 0;
        justify-content: space-between;
    }
}

@media (max-width: 500px){
    .advantages-btn{
        padding: 9px 15px;
    }

    .title{
        font-size: 30px;
    }

    .choose-item-column{
        flex-direction: column;
        align-items: center;
    }

    .choose-item{
        width: 300px;
    }

    .advantages-card-content-wrapper{
        flex-direction: column;
    }

    .advantages-card{
        height: 250px;
        padding: 15px;
        width: 400px;
    }

    .solution-btn{
        font-size: 12px;
    }
}

@media (max-width: 400px){
    .advantages-card-content-wrapper{
        align-items: center;
    }

    .advantages-card{
        width: 300px;
        height: 300px;
    }

    .footer-content{
        padding: 15px;
    }
}